<!-- this is home page template after login user will reflect here -->
<center>
    
    <h1>Home Page</h1>
    Firstname :{{request.session.Firstname}}
    <br>
    Lastname :{{request.session.Lastname}}
    <br>
    Email :{{request.session.Email}}
    <br>
    Balance: {{balance}}
    <br>
    <form method="post">
        <input type="text" name="username" placeholder="Enter Username">
        <input type="text" name="amount" placeholder="Enter Amount">
        <input type="submit" value="Submit">
        </form>
</center>


